.section {
	width: 700px;
	border: 1px solid black;
	margin: 10px auto;
	display: block;
}
.section h1 {
	float: left;
	width: 100%;
	margin: 15px;
	color: blue;
}
.section p {
	margin: 15px;
	padding: 0;
}
.link {
	display: block;
	text-align: right;
	padding: 10px 50px 30px 10px;
}