.main {
	height: 790px;
	width: 300px;
	display: flex;
	flex-direction: column;
}
.head {
	margin: 0;
	height: 50px;
	background-color: #C1C1C1;
	border: 2px solid #474747;
	border-radius: 4px 4px 0 0;
	padding: 5px;
}
.head input {
	background-color: #C1C1C1;
	width: 100%;
	font-size: 35px;
	height: 50px;
	line-height: 50px;
	text-align: right;
	margin: 0;
	outline: none;
	border: none;
}
.buttons {
	margin: 0;
	height: 340px;
	clear: both;
	background-color: #C1C1C1;
	border: 2px solid #474747;
	border-top: none;
	border-radius: 0 0 4px 4px;
}
.buttons table {
	width: 100%;
}
.buttons table td{
	width: 55px;
	height: 55px;
	margin: 5px;
	padding: 5px;
}
#delete {
	background-color: #49B0FF;
}
#eq {
	background-color: #46AB64;
}
.buttons table input[type="button"] {
	width: 100%;
	height: 100%;
	background-color: #777;
	color: white;
	font-size: 19px;
	font-weight: 400;
	border-radius: 5px;
}
button:focus {
	outline: none;
}